# General ignorable files
*.swp
*.pyc
*.bsub
*.sub
*.out

# Binaries
itp2d
run_tests

# Generated documentation
README.html

# Local config file
local.mk

# FFTW wisdom file
fftw_wisdom

# Data directories

data
data?

# gtest source
src/gtest*

# Object files
obj/commandlineparser.o
obj/convergence.o
obj/convergenceparser.o
obj/datafile.o
obj/datalayout.o
obj/eigensolver.o
obj/exceptions.o
obj/expkinetic.o
obj/exppotential.o
obj/gtest-all.o
obj/itp2d.o
obj/itpsystem.o
obj/kinetic.o
obj/laplacian.o
obj/multiproductsplit.o
obj/noise.o
obj/noiseparser.o
obj/operatorproduct.o
obj/operators.o
obj/operatorsum.o
obj/parameters.o
obj/parser.o
obj/potential.o
obj/potentialparser.o
obj/rng.o
obj/run_tests.o
obj/secondordersplit.o
obj/simpleoperators.o
obj/statearray.o
obj/state.o
obj/stateset.o
obj/test_commandlineparser.o
obj/test_datalayout.o
obj/test_eigensolver.o
obj/test_hamiltonian.o
obj/test_itp.o
obj/test_laplacian.o
obj/test_operators.o
obj/test_parser.o
obj/test_potentialparser.o
obj/test_rng.o
obj/tests_common.o
obj/test_statearray.o
obj/test_state.o
obj/test_stateset.o
obj/test_transformer.o
obj/timer.o
obj/transformer.o

# Dependency files
.deps/commandlineparser.o.d
.deps/convergence.o.d
.deps/convergenceparser.o.d
.deps/datafile.o.d
.deps/datalayout.o.d
.deps/eigensolver.o.d
.deps/exceptions.o.d
.deps/expkinetic.o.d
.deps/exppotential.o.d
.deps/itp2d.d
.deps/itp2d.o.d
.deps/itpsystem.o.d
.deps/kinetic.o.d
.deps/laplacian.o.d
.deps/multiproductsplit.o.d
.deps/noise.o.d
.deps/noiseparser.o.d
.deps/operatorproduct.o.d
.deps/operators.o.d
.deps/operatorsum.o.d
.deps/parameters.o.d
.deps/parser.o.d
.deps/potential.o.d
.deps/potentialparser.o.d
.deps/rng.o.d
.deps/run_tests.d
.deps/run_tests.o.d
.deps/secondordersplit.o.d
.deps/simpleoperators.o.d
.deps/statearray.o.d
.deps/state.o.d
.deps/stateset.o.d
.deps/test_commandlineparser.o.d
.deps/test_datalayout.o.d
.deps/test_eigensolver.o.d
.deps/test_hamiltonian.o.d
.deps/test_itp.o.d
.deps/test_laplacian.o.d
.deps/test_operators.o.d
.deps/test_parser.o.d
.deps/test_potentialparser.o.d
.deps/test_rng.o.d
.deps/tests_common.o.d
.deps/test_statearray.o.d
.deps/test_state.o.d
.deps/test_stateset.o.d
.deps/test_transformer.o.d
.deps/timer.o.d
.deps/transformer.o.d
